@tailwind base;
@tailwind components;
@tailwind utilities;

.layout {
  display: grid;
  grid-template-columns: 200px calc(100vw - 200px);
  grid-template-rows: 50px calc(100vh - 50px);
  grid-template-areas:
    "sidebar navbar"
    "sidebar content";
}

.sidebar {
  grid-area: sidebar;
}

.navbar {
  grid-area: navbar;
}

.content {
  grid-area: content;
}